
footer {
    background-color: rgba(5, 5, 56, 0.906);
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    margin: 100px 0px;
}

.skilled {
    color: white;
    font-size: larger;
    margin-right: 600px;
}

.btn {
    color: white;
    border-radius: 20px;
    height: 1cm;
    border: none;
    width: 100px;
    background: linear-gradient( rgb(49, 1, 47), rgb(253, 0, 135));
}

@media only screen (max-width: 414px) {
    
    
    footer{
       width: fit-content;
    }
}